<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayPal payment</title>
</head>
<body>
    <form action="/api/payPal" method="POST">
    <h1>Pamoja Pay</h1>
    <p>Pay $100</p>
    <input type="text" name="qty" id="" placeholder="Input qnty">
    <input type="text" name="amount" id="" placeholder="input Amount">
    <input type="submit" value="paid">
    </form>
</body>
</html>